div.container {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;

}

section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    float: right;
    border-radius: 4px;
    margin: 11px 30px;
}

section.filters button:hover {
    opacity: 90%;

}

.locations, .amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations h3, .amenities h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 30px;
    font-weight: 600;
    font-size: 16px;
   
}
.locations h4, .amenities h4 {
    margin-bottom: 0px;
    text-align: left;
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.popover {
    border: #DDDDDD solid 1px;
    border-radius: 4px;
    background-color: #FAFAFA;
    display: none;
    z-index: 1;
    position: relative;

}

.popover h2 {
    font-size: 16px;

}

li {
    margin-top:10px;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: left;

}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;

}
